APP_NAME="Web-to-Print Shop"
APP_ENV=local
APP_KEY=base64:OyBMPWFGM0V0MEsbw75NsTPj/z6JaEj1Q6mE63QcYdw=
APP_DEBUG=true
APP_URL=http://localhost:8001

DB_CONNECTION=sqlite
DB_DATABASE=/var/lib/wtp-shop/dev.sqlite

CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local

LOG_CHANNEL=stderr

PRINT_API_URL=http://wtp-backend:8000/api/v1
INTERNAL_BRIDGE_TOKEN=dev-internal-token-CHANGE-ME
