APP_NAME="Web-to-Print"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=webtoprint
DB_USERNAME=webtoprint
DB_PASSWORD=webtoprint

REDIS_HOST=redis
REDIS_PORT=6379

QUEUE_CONNECTION=redis
CACHE_STORE=redis
SESSION_DRIVER=redis

FILESYSTEM_DISK=minio

MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_KEY=webtoprint
MINIO_SECRET=webtoprint-secret
MINIO_BUCKET=webtoprint
MINIO_REGION=us-east-1

MEILI_HOST=http://meilisearch:7700
MEILI_KEY=webtoprint-meili-master

STOREFRONT_URL=http://localhost:4321
DESIGNER_URL=http://localhost:5173

CALLAS_BIN=/usr/local/bin/pdfToolbox
CALLAS_LICENSE_KEY=

GHOSTSCRIPT_BIN=gs
QPDF_BIN=qpdf
